.main {
    background-color: #fff4d2;
}

.map{
    width: 930px;
    max-width: 90%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

.map iframe{
    display: block;
    width: 100%;
    height: 600px;
    margin-top: 25px;
}

.header-access {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    height: 50px;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}