.title {
    height: 510px;
    background-image: url(../images/attention/neko-back.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 1px 1px 10px #4b2c14;
}

.title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32pt;
    font-weight: bold;
}

.title p {
    font-size: 14px;
    margin-top: 15px;
}

main {
    background-color: #151111;
    margin-top: 50px;
    padding-bottom: 50px;
}

.attention h1{
    margin-top: 40px;
    text-align: center;
    color: #ed4141;
}

.attention p{
    margin-top: 15px;
    text-align: center;
    color: #ffffff;
}



.feature {
    display: flex;
    justify-content: space-between;
    width: 930px;
    max-width: 90%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align:center;
}

.feature img {
    max-width: 500px;
    margin-right: 40px;
}

.reverse {
    flex-direction: row-reverse;
}

.reverse .feature-text {
    margin-left: 40px;
    margin-right: 0;
}


.feature-text{
    text-align: center;
}

.feature-text h2 {
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    color: #ffffff;
}

.feature-text h2::after {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background-color: #ffffff;
    margin-top: 20px;
}

.feature-text p{
    text-align: center;
    color:#ffffff;
}

.feature-text p {
    font-size: 15px;
    line-height: 28px;
    margin-top: 25px;
}

.sign p{
    font-size: 12px;
    margin-left: 50px;
    margin-right: auto;
    color: #ffffff
}


p.cat02_image img {
    height: 100px;
    margin-left: 50px;
}