/* 共通スタイル */
/* ヘッダー */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* メインコンテンツ */
  main {
    margin: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  /* サイドバー */
  aside {
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  /* フッター */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* スマートフォン用スタイル */
  @media screen and (max-width: 767px) {
    header {
      padding: 10px;
    }
  
    h1 {
      font-size: 24px;
    }
  
    nav li {
      display: block;
      margin: 10px 0;
    }
  
    main {
      margin: 10px;
    }
  
    ul {
      margin-left: 0;
    }
  
    aside {
      padding: 10px;
    }
  
    footer {
      padding: 5px;
    }
  }
  